div,
ul {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  margin: 0;
}
@font-face {
  font-family: 'Quicksand';
  src: url(/public/css/fonts/Quicksand.woff2) format('woff2');
}
@font-face {
  font-family: 'Catamaran';
  src: url(/public/css/fonts/Catamaran.woff2) format('woff2');
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: url(/public/images/handshake_work.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.back_over {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
  opacity: 0.5;
}
.content {
  width: 70%;
  min-width: 600px;
  margin: auto;
  text-align: left;
  display: inline-block;
}
.content > div {
  display: inline-block;
}
.content .line_separator {
  height: 1px;
  background: white;
  border-bottom: 1px solid #31303040;
}
.content header {
  display: flex;
  align-items: flex-start;
}
.content header > .flex {
  flex: 1 1 10%;
}
.content header .navigation_wrapper {
  height: 80px;
}
.content header .navigation_wrapper nav > ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.content header .navigation_wrapper nav > ul li {
  text-align: center;
  margin: 10px;
  padding-left: 1em;
  padding-right: 1.5em;
  font-family: "Quicksand";
  border-right: 1px solid white;
}
.content header .navigation_wrapper nav > ul li a {
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #00000054;
  text-decoration: none;
}
.content .company {
  width: 48%;
  height: 50px;
  line-height: 4rem;
  color: white;
  font-size: 2.5em;
  font-family: "Catamaran";
}
.content ul {
  display: flex;
  max-width: 800px;
  height: 100px;
  flex-flow: wrap;
  align-content: flex-end;
}
.content ul li {
  list-style-type: none;
  flex-grow: 1;
}
.content ul li .box {
  background: grey;
  border: 1px solid blue;
}
.content ul li:nth-child(2) {
  flex-grow: 1;
}
.content .placer {
  clear: both;
}
.content .insurance_text {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  color: white;
  font-size: 2.2em;
  font-family: "Quicksand";
  filter: blur(1px);
}
.content .reachable_under,
.content .insurance {
  float: right;
  margin-top: 38px;
  margin-left: 30px;
  font-family: "Quicksand";
  width: 42%;
  font-size: 2em;
  color: white;
}
.content .reachable_under .small_data,
.content .insurance .small_data {
  font-size: 1.4rem;
}
.content .beach_family_wrapper {
  display: none;
  width: 100%;
  text-align: center;
}
.content .beach_family_wrapper > div {
  background-image: url(/public/images/beach_family.png);
  background-repeat: no-repeat;
  background-size: 50%;
  overflow: visible;
  height: 400px;
}
@media (max-width: 1290px) {
  .content {
    overflow: hidden;
  }
  .content header {
    flex-direction: column;
  }
  .content .insurance_text {
    margin-left: 0;
  }
  .content .reachable_under,
  .content .insurance {
    display: inline-block;
    float: none;
    width: 100%;
    margin-left: 0;
  }
  .content .beach_family_wrapper img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */